h1{
    color: white;
}
div{
    background-color: green;
}
table{
    color: black;
    background-color: burlywood;
    width: 500px;
}
body{
    background-color: powderblue;
}
h3{
    color: blue;
}
h2{
    color: darkgreen;
}